/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url('bootstrap.css');

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    width: 330px;
    margin: 0 auto;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.error {
    background: red;
    color: white;
    padding: 6px 10px;
    text-align: center;
}

/* Top bar */

.top-bar {
    width: 300px;
    border-bottom: 1px solid #ccc;
    height: 30px;
    padding: 15px;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#e3e3e3));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: -o-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: linear-gradient(to bottom, #f7f7f7, #e3e3e3);
}
.top-bar .btn {
    float: right;
}
.page-title {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 18px;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Search bar */

.search-bar {
    width: 300px;
    height: 30px;
    padding: 15px;
    background: #f1f1f1;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
}
.search-bar input {
    width: 242px;
}

/* Music bar */

.music-bar {
    width: 300px;
    height: 30px;
    padding: 10px 15px;
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
}
.music-bar .btn {
    width: 274px;
    text-align: center;
}
.music-bar .dropdown-menu {
    position: absolute;
    top: inherit;
    left: inherit;
    width: 298px;
}

/* Main */

#main {
    padding: 15px;
    background:#f9f9f9;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

/* Trending List */

.locale-options .btn {
    width: 75px;
    text-align: center;
    font-size: 12px;
}
.trending-list ul {
    padding: 0;
    margin: 15px 0 0 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #fff;
    list-style: none;
}
.trending-list ul li {
    border-bottom: 1px solid #ddd;
    padding: 15px;

}
.trending-list ul li:hover {
    cursor: pointer;
    background: #f7f7f7;
}
.trending-list ul li:last-child {
    border-bottom: none;
}
.rating {
    display: block;
    width: 45px;
    height: 45px;
    background: #ddd;
    margin-right: 15px;
    float: left;
    line-height: 45px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #999;
}
.venue-info {
    float: left;
}
a .venue-name, .venue-name {
    color: black;
    display: block;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.venue-distance {
    display: block;
    font-size: 12px;
    color: #999;
}
.vote {
    float: right;
    margin-top: 5px;
}
.vote .btn {
    padding: 5px;
}

/* Bottom bar */

.bottom-bar {
    width: 300px;
    padding: 15px;
    background: #f7f7f7;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    *background-color: #e3e3e3;
    background-image: -moz-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#e3e3e3));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: -o-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: linear-gradient(to bottom, #f7f7f7, #e3e3e3);
}
.bottom-bar .btn {
    width: 111px;
    text-align: center;
}
.bottom-bar .btn i {
    margin-right: 8px;
}

/* ==========================================================================
   Map Page
   ========================================================================== */

.top-link {
    color: black;
    text-decoration: none;
}
.top-link:hover {
    text-decoration: none;
    color: #444;
}
.top-link i {
    margin: 4px 7px 0 0;
}

/* ==========================================================================
   Venue Page
   ========================================================================== */

.venue-card .vote {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}
.venue-card .contact {
    float: right;
    margin-top: 10px;
}
.venue-card .contact .btn {
    padding: 5px;
}
.map {
    position: relative;
}
.map .rating {
    position: absolute;
    top: 55px;
    left: 108px;
    border: 10px solid #f7f7f7;
    border-bottom: none;
}
.trending-crowd {
    height: 85px;
}
.trending-crowd ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
    height: 50px;
}
.trending-crowd ul li {
    float: left;
    width: 63px;
    padding: 0 5px;
    height: 50px;
    border: 1px solid #ccc;
    border-left: none;
    text-align: center;
    line-height: 50px;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.trending-crowd ul li:first-child {
    border-left: 1px solid #ddd;
}
.subtitle h5 {
    margin-bottom: 5px;
    margin-top: 0;
}
.subtitle h5 i {
    margin-right: 8px;
}


/* ==========================================================================
   Login Page
   ========================================================================== */

.centered {
    text-align: center;
    color: gray;
}
.sm-btns .btn {
    width: 120px;
}
.full {
    width: 275px;
}
.login-form input[type="text"], .login-form input[type="password"] {
    width: 285px;
}
.login-form .btn-success {
    width: 298px;
    margin: 15px 0;
}
.login-form select{
    width: 300px;
    margin-top: 8px;
}
.admin select {
    width: 267px;
    margin: 0 0 10px 0;
}
.admin {
    margin: 10px 0;
}
.admin a {
    margin: 10px 0;
}
.admin label {
    margin-top: 10px;
}
.admin .right {
    float: right;
    width: 120px;
    margin-top: 5px;
    margin-bottom: 25px;
}
.accordion-inner .full {
    width: 242px;
    margin: 10px -0;
}
.admin small {
    font-size: 12px;
    font-weight: bold;
    color: #666;
    margin-bottom: 10px;
}

/* ==========================================================================
   DAN setup
   ========================================================================== */

.steps {
    height: 30px;
}
.steps ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.steps ul li {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin-right: 60px;
    float: left;
    position: relative;
    z-index: 2;
}
.steps ul li.current {
    border: 1px solid #5b9238;
    background: #89ce54;
}
.steps ul li.filled {
    border: 1px solid #aaa;
    background: #ddd;
}
.steps ul li:last-child {
    margin-right: 0;
}
.step-line {
    background: #ccc;
    height: 1px;
    margin-top: 6px;
}
.pic-holder {
    width: 68px;
    height: 68px;
    border: 1px solid #ddd;
    border-radius: 5px;
    float: left;
    background: #fff;
    line-height: 68px;
    color: #999;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.name-holder {
    float: right; 
    width: 205px; 
    margin-right: 13px;
}

/* ==========================================================================
   Buzz Page
   ========================================================================== */

.buzz {
    margin: 0;
    padding: 0;
    list-style: none;
}
.buzz li {
    margin: 20px 0;
}
.buzz li .user {
    padding: 3px 7px;
    float: left;
    border-radius: 3px;
    margin-top: 6px;
    background: #ccc;
}
.buzz li .content {
    float: right;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 14px;
    width: 238px;
    padding: 10px;
    border-radius: 3px;
    position: relative;
}
.buzz li .content .voted {
    width: 15px;
    height: 15px;
    top: -5px;
    right: -5px;
    background: #ccc;
    position: absolute;
}
.buzz li .content .voted.true {
    background: #90d050;
}
.buzz li .votes {
    font-size: 11px;
    text-align: right;
    margin-right: 5px;
    color: #777;
    font-style: italic;
}

.buzz li.current .user {
    float: right;
}
.buzz li.current .content {
    float: left;
}
.buzz li.current .voted {
    display: none;
}
.buzz li.current .votes {
    text-align: left;
    margin-left: 5px;
}


.high, .buzz li .user.high{
    background: #90d050;
    color: #689d33;
}
.med-high, .buzz li .user.med-high {
    background: #f0d070;
    color: #b0943f;  
}
.med, .buzz li .user.med {
    background: #f0b050;
    color: #c08937;  
}
.low, .buzz li .user.low {
    background: #e06060;
    color: #993333;  
}

/* ==========================================================================
   Buzz - Main Chat Page
   ========================================================================== */

.chat-field {
    margin: 0 -15px -34px -15px;
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 15px 15px 0px 15px;
}

/* ==========================================================================
   Profile Page
   ========================================================================== */

.user-card {
    background: #fff;
    min-height: 55px;
    padding: 15px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.user-card .user-pic {
    float: left;
    margin-right: 15px;
}
.user-card .user-pic img {
    width: 45px;
    height: 45px;
    border: 3px solid #fff;
    margin: 0 0 0 15px;
}
.user-card .user-info {
    float: left;
    margin: 0;
}
.user-info .user-name {
    font-weight: bold;
}
.user-info .user-loc {
    font-size: 14px;
    color: #444;
}
.user-info .user-status {
    font-size: 14px;
    font-style: italic;
    margin-top: 8px;
}
.connect {
    width: 274px;
    margin-top:25px;
}
.top-lists {
    margin: 25px 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 5px;
}
.top-lists li {
    padding: 15px 10px;
    font-size: 16px;
    color: #666;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}
.top-lists li .n {
    margin-right: 10px;
    font-weight: normal;
}
.top-lists li.header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#e3e3e3));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: -o-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: linear-gradient(to bottom, #f7f7f7, #e3e3e3);
    font-weight: bold;
}
.top-lists li.header i {
    margin: 4px 8px 0 0;
}
.top-lists li:last-child {
    border-bottom: none;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
